---
- name: Copy worker certs to each kubernetes worker
  hosts: kubernetes_workers
  become: yes
  tasks:
  - name: Copy worker-[*].pem and worker-[*]-key.pem to each worker 
    copy:
      src: "{{ item }}"
      dest: "~/"
      owner: ubuntu
      group: ubuntu
      mode: '0600'
    with_fileglob:
    - "/ansible/files_from_terraform/{{ inventory_hostname }}*.pem"
  - name: Copy ca.pem to each worker 
    copy:
      src: "/ansible/files_from_terraform/ca.pem"
      dest: "~/"
      owner: ubuntu
      group: ubuntu
      mode: '0600'
- name: Copy controller certs to each kubernetes controller
  hosts: kubernetes_controllers
  become: yes
  tasks:
  - name: Copy controller certs to each controller
    copy:
      src: "{{ item }}"
      dest: "~/"
      owner: ubuntu
      group: ubuntu
      mode: '0600'
    loop:
    - "/ansible/files_from_terraform/ca.pem"
    - "/ansible/files_from_terraform/ca-key.pem"
    - "/ansible/files_from_terraform/kubernetes-key.pem"
    - "/ansible/files_from_terraform/kubernetes.pem"
    - "/ansible/files_from_terraform/service-account-key.pem"
    - "/ansible/files_from_terraform/service-account.pem"
