- name: Install ETCD
  hosts: kubernetes_controllers
  become: yes
  vars:
    etcd_version: "3.5.18" # use format x.y.z with no preceding "v"
  tasks:
  - name: Create directory for etcd installation
    file:
      path: "/etc/etcd"
      state: directory
      mode: '0700'

  - name: Create directory /var/lib/etcd
    file:
      path: "/var/lib/etcd"
      state: directory
      mode: '0700'

  - name: Check if etcd binary exists
    stat:
      path: "/tmp/etcd-v{{ etcd_version }}-linux-amd64.tar.gz"
    register: etcd_binary_stat

  - name: Get checksum of local etcd binaries
    shell: "sha256sum /tmp/etcd-v{{ etcd_version }}-linux-amd64.tar.gz | cut -f 1 -d ' '"
    register: local_etcd_checksum
    when: etcd_binary_stat.stat.exists
    changed_when: false

  - name: Set local checksum to empty if binary does not exist
    set_fact:
      local_etcd_checksum:
        stdout: ""
    when: not etcd_binary_stat.stat.exists

  - name: Download checksums of etcd binaries
    get_url:
      url: "https://github.com/etcd-io/etcd/releases/download/v{{ etcd_version }}/SHA256SUMS"
      dest: "/tmp/SHA256SUMS"
      mode: '0644'
    changed_when: false

  - name: Get expected checksum for etcd binaries
    shell: "grep etcd-v{{ etcd_version }}-linux-amd64.tar.gz /tmp/SHA256SUMS | awk '{print $1}'"
    register: expected_etcd_checksum
    changed_when: false
    ignore_errors: true

  - name: Debug local checksum
    debug:
      var: local_etcd_checksum.stdout

  - name: Debug expected checksum
    debug:
      var: expected_etcd_checksum.stdout

  - name: Compare local and expected etcd binaries checksums
    debug:
      msg: "Checksum is different, downloading etcd"
    when: local_etcd_checksum.stdout != expected_etcd_checksum.stdout
    register: etcd_checksums_different

  - name: Download etcd binaries (only if checksum is different)
    get_url:
      url: "https://github.com/etcd-io/etcd/releases/download/v{{ etcd_version }}/etcd-v{{ etcd_version }}-linux-amd64.tar.gz"
      dest: "/tmp/etcd-v{{ etcd_version }}-linux-amd64.tar.gz"
      mode: '0644'
    register: download_etcd
    when: local_etcd_checksum.stdout | default('') != expected_etcd_checksum.stdout
    changed_when: true  # Force the task to be marked as changed when the binaries are downloaded

  - name: Set flag if checksums are different or binary does not exist
    set_fact:
      etcd_checksums_different: "{{ download_etcd.changed }}"
    when: download_etcd is defined

  - name: Extract etcd binaries only if they were downloaded
    unarchive:
      src: "/tmp/etcd-v{{ etcd_version }}-linux-amd64.tar.gz"
      dest: "/tmp/"
      remote_src: yes
    when: etcd_checksums_different

  - name: Check contents of the extracted directory
    command: ls /tmp/etcd-v{{ etcd_version }}-linux-amd64/
    register: extracted_files
    ignore_errors: yes
    when: etcd_checksums_different

  - name: Debug extracted files
    debug:
      var: extracted_files.stdout_lines
    when: etcd_checksums_different

  - name: Move etcd binaries to /usr/local/bin
    become: yes
    shell:
      cmd: mv /tmp/etcd-v{{ etcd_version }}-linux-amd64/etcd* /usr/local/bin/
    when:
      - download_etcd.changed  # Only move if download_etcd changed
      - extracted_files.rc == 0  # Ensure the extraction was successful

  - name: Debug mv output
    debug:
      var: mv_output
    when: etcd_checksums_different

  - name: Copy etcd certs to each controller
    copy:
      src: "{{ item }}"
      dest: "/etc/etcd/"
      owner: root
      group: root
      mode: '0600'
    loop:
    - "/ansible/common/ca.pem"
    - "/ansible/common/kubernetes-key.pem"
    - "/ansible/common/kubernetes.pem"

  - name: Copy etcd.service to each controller
    copy:
      src: "/ansible/controller/{{ inventory_hostname }}/etcd_service"
      dest: "/etc/systemd/system/etcd.service"
      owner: root
      group: root
      mode: '0644'
    register: etcd_service_change

  - name: Reload systemd and restart etcd if etcd.service was updated
    systemd:
      name: etcd
      daemon_reload: yes
      enabled: yes
      state: started
    when: etcd_service_change.changed
