---
- name: Copy kubeconfig files to each kubernetes worker
  hosts: kubernetes_workers
  become: yes
  tasks:
  - name: Copy worker-[*].kubeconfig to each worker 
    copy:
      src: "{{ item }}"
      dest: "~/"
      owner: ubuntu
      group: ubuntu
      mode: '0600'
    with_fileglob:
    - "/ansible/files_from_terraform/{{ inventory_hostname }}*.kubeconfig"
  - name: Copy kube-proxy.kubeconfig to each worker 
    copy:
      src: "/ansible/files_from_terraform/kube-proxy.kubeconfig"
      dest: "~/"
      owner: ubuntu
      group: ubuntu
      mode: '0600'
- name: Copy kubeconfig files to each kubernetes controller
  hosts: kubernetes_controllers
  become: yes
  tasks:
  - name: Copy kubeconfig files to each controller
    copy:
      src: "{{ item }}"
      dest: "~/"
      owner: ubuntu
      group: ubuntu
      mode: '0600'
    loop:
    - "/ansible/files_from_terraform/admin.kubeconfig"
    - "/ansible/files_from_terraform/kube-controller-manager.kubeconfig"
    - "/ansible/files_from_terraform/kube-scheduler.kubeconfig"
