- name: Configure Kubernetes Control Plane
  hosts: kubernetes_controllers
  become: yes
  tasks:
    - name: Copy controller certs to each controller
      copy:
        src: "/ansible/common/{{ item }}"
        dest: "/var/lib/kubernetes/"
        owner: root
        group: root
        mode: '0600'
      loop:
      - "ca.pem"
      - "ca-key.pem"
      - "kubernetes-key.pem"
      - "kubernetes.pem"
      - "service-account-key.pem"
      - "service-account.pem"
      - "encryption-config.yaml"
  
    - name: Copy correct kube-apiserver.service to each controller
      copy:
        src: "{{ item }}"
        dest: "/etc/systemd/system/kube-apiserver.service"
        owner: root
        group: root
        mode: '0644'
      with_fileglob:
      - "/ansible/configs/controller/{{ inventory_hostname }}/kube_apiserver_service"
      register: kube_apiserver_service_change

    - name: Reload systemd and restart kube-apiserver if service file updated
      systemd:
        name: kube-apiserver
        daemon_reload: yes
        enabled: yes
        state: started
      when: kube_apiserver_service_change.changed
  
    - name: Copy correct kube-controller-manager.kubeconfig to /var/lib/kubernetes
      copy:
        src: "/ansible/configs/controller/{{ inventory_hostname }}/kube_controller_manager_kubeconfig"
        dest: "/var/lib/kubernetes/kube-controller-manager.kubeconfig"
        owner: root
        group: root
        mode: '0644'
      register: kube_controller_manager_kubeconfig_change

    - name: Copy kube-controller-manager.service to /etc/systemd/system/
      copy:
        src: "/ansible/common/kube_controller_manager_service"
        dest: "/etc/systemd/system/kube-controller-manager.service"
        owner: root
        group: root
        mode: '0644'
      register: kube_controller_manager_service_change

    - name: Reload systemd and restart kube-controller-manager if service file updated
      systemd:
        name: kube-controller-manager
        daemon_reload: yes
        enabled: yes
        state: started
      when: kube_controller_manager_service_change.changed or kube_controller_manager_kubeconfig_change.changed
  
    - name: Copy kube-scheduler.kubeconfig to /var/lib/kubernetes
      copy:
        src: "/ansible/common/kube_scheduler_kubeconfig"
        dest: "/var/lib/kubernetes/kube-scheduler.kubeconfig"
        owner: root
        group: root
        mode: '0644'
      register: kube_scheduler_kubeconfig_change
  
    - name: Copy kube-scheduler.yaml to /etc/kubernetes/config/
      copy:
        src: "/ansible/common/kube_scheduler_yaml"
        dest: "/etc/kubernetes/config/kube-scheduler.yaml"
        owner: root
        group: root
        mode: '0644'
      register: kube_scheduler_yaml_change
  
    - name: Copy kube-scheduler.service to /etc/systemd/system/
      copy:
        src: "/ansible/common/kube_scheduler_service"
        dest: "/etc/systemd/system/kube-scheduler.service"
        owner: root
        group: root
        mode: '0644'
      register: kube_scheduler_service_change

    - name: Reload systemd and restart kube-controller-manager if service file updated
      systemd:
        name: kube-scheduler
        daemon_reload: yes
        enabled: yes
        state: started
      when: kube_scheduler_kubeconfig_change.changed or kube_scheduler_yaml_change.changed or kube_scheduler_service_change.changed

    - name: Gather host info for each worker node
      local_action:
        module: slurp
        src: "/ansible/common/workers.host"
      register: worker_hosts_file

    - name: Update /etc/hosts to include worker nodes
      lineinfile:
        path: /etc/hosts
        line: "{{ item }}"
        create: yes
        state: present
      loop: "{{ (worker_hosts_file.content | b64decode).splitlines() }}"
      
